
</body>
</html>

<!DOCTYPE html>
<html>
<head>
<style>
body {
 background-image: url('/static/images/3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
div {
  background-color: white;
  width: 300px;
  border: 5px solid rgb(176, 196, 197);
  padding: 50px;
  margin: 20px;
}
</style>
</head>
<body>
 <h1 style="background-color:rgb(194, 218, 219)";>About Us</h1>


<div>Our Fashion Expert is developing a web based online platform where the fashion designers in particular place can come and host their design at our web and communicate with individuals who can find them all at one place so as to save their cost time and have plenty of choices.</div></div>

</body>
</html>



