<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<h1 style="background-color:rgb(194, 218, 219)";>The Best  Free and Open Source Fashion Design Software</h1>
<div> 1. Browzwear
<ul>
  <li>Purpose: Professional Digital Fashion Sketching & Illustration / Helps With Starting a Fashion Brand</li>
<li>Features: Create Technical Sketches / Aids In Apparel Production</li>
<li>Features: Design Menswear, Women’s Wear, Kid’s Wear, Baby Clothing, Handbags, Shoes, Accessories</li>
<li>Features: Includes Hundreds of Digital Fabrics & Textile Prints</li>
<li>Features: Includes Training Specific to Core Functions of Designing a Clothing Line</li>
<li>Features: Easy-To-Learn & Use, Beginner-Friendly</li>
<li>Features: You do not have to know how to draw to create professional fashion sketches with DFP</li>
<li>Technical Support Cost: Free Lifetime Support by phone and email</li>
<li>Comes With Free Training: Yes. Videos and e-Training Guide</li>
<li>Requires Internet To Use: No</li>
<li>System Requirements: Windows, Mac, Chromebook</li>
</ul>
   <button class="Browzwear"
    onclick="window.location.href = 'https://browzwear.com';">
        Browzwear
    </button>
</div>
<div>2. Adobe Illustrator
<ul>
  <li>Purpose: General Vector Graphics Editor</li>
<li>Features: Create Digital Artwork, Textile Designs, Apparel Designs</li>
<li>Includes Garment Templates & Models: No</li>
<li>What Can You Design With It? Anything But User Has To Create Everything From Scratch</li>
<li>Technical Support Cost: Fee</li>
<li>Comes With Free Training: General How To But Not Specifically related to garment design</li>
<li>Requires Internet To Use: Yes</li>
</ul>
     <button class="Digital Fashion Pro"
    onclick="window.location.href = 'https://www.adobe.com/products/illustrator.html';">
        Adobe Illustrator
    </button>
</div>
<div>3. Corel Draw
<ul>
    <li>Purpose: General Vector Graphics Editor</li>
<li>Features: Create Artwork & Textiles</li>
<li>Includes Garment Templates & Models: No</li>
<li>What Can You Design With It? Anything But User Has To Create Everything From Scratch</li>
<li>Technical Support Cost: Fee</li>
<li>Comes With Free Training: General How To But Not Specifically related to garment design</li>
<li>System Requirements: Windows Or Mac
</li></ul>
    <button class="Corel Draw"
    onclick="window.location.href = 'https://www.coreldraw.com;">
        Corel Draw
    </button>
</div>
</body>
</html>